* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans Book, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
@define-color black #1e2127;
@define-color blue #61afef;
@define-color green #98c379;
@define-color magenta #c678dd;
@define-color red #e06c75;
@define-color white #828791;
@define-color bright-white #e6efff;
@define-color yellow #d19a66;

window#waybar {
    background-color: rgba(0,0,0, 0.0);
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @black;
}

window#waybar.chromium {
    background-color: @black;
    border: none;
}

button {
    border: 3px;
    border-radius: 5px;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #64727D;
}
#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 2px;
    color: @bright-white;
    border: 3px;
}

#clock{

    background-color: unset;
}
#window,
#workspaces {
    margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 8px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 8px;
}
#workspaces {
    background-color: rgba(43, 48, 59, 0.0);
}


#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background: rgba(0, 0, 0, 0.2);
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
}
